.card{
    margin: 15px 15px;
    &:hover{
        transform: scale(1.2);
    }


    @mixin  cards ($fond) {
        max-height: 150px;
        img{
            margin-top: 10px
        }
        .tarjetaTitulo{
            color: map-get($map: palette, $key: titulos);
            font-size: fond;
        }
        .tarjetaEditorial{
        color: map-get($map: palette, $key: editorial);
        font-size: 12px;
        }
    }  
    }
    .card-body{
        @include cards (15px);
}

.card-body-grande {
    @include card (10px);
}
