.Bienvenida{
    font-size: 50px;
    margin: 20px;
}

.form {
    height: 40px;
    color: white;
    background-color: map-get($map: palette, $key: principal);
    border: black solid 1px;
    border-radius: 6px;
    
    &::placeholder{
        color: white;
        text-align: center;
    }
}

.olvidasteContraseña {
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}

.btnIngresar{
    height: 40px;
    color: white;
    background-color: map-get($map: palette, $key: principal);
    border: black solid 1px;
    border-radius: 15px;
}

.continuarCon {
    color: red;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.iniciarConGoogleImg {
    width: 30px;
    margin-right: 90px;
}

.iniciarConFacebookImg {
    width: 33px;
}

.nuevoUsuario {
    margin-top: 10px;
    .creaCuenta {
        color: red;
        text-decoration: none;}
}
