$palette: (
    principal: rgba(255, 110, 110, 1),
    titulos: rgba(255, 158, 15, 1),
    editorial: rgba(33, 166, 131, 1),
    stock: rgba(70, 108, 245, 1),
    precio: rgba(71, 112, 134, 1),
    descripciones: rgba(197, 157, 129, 1),
    footers: rgb(48, 48, 48),
);
