$colorUno : rgba(255, 110, 110, 1);
$colorDos : rgba(255, 158, 15, 1);
$colorTres : rgba(33, 166, 131, 1);
$colorCuatro :  rgba(70, 108, 245, 1);
$colorCinto : rgba(71, 112, 134, 1);
$colorSeis :  rgba(197, 157, 129, 1);
$colorSiete : rgb(48, 48, 48);