@import "variables.scss";
@import "header";
@import "navBar";
@import "diviciones";
@import "pages";
@import "card";
@import "manga";
@import "login";
@import "footer";

body{
    font-family: 'Acme', sans-serif;

    ul{
        list-style-type: none;
    }
}