.footer{
    background-color: $colorSiete;
    
    p{
        color: white;
        font-size: 15px;
    }

    img{
        width: 20px;
    }
    
    .redes {
        margin-left: 50px;
    }
}